QWidget{
    background-color:rgb(0, 0, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 0, 0);
    font-size: 20px;
}
QPushButton{
    background-color: rgb(194, 188, 10);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 16px;
    border: 1px dashed whitesmoke;
}
QPushButton:hover{
    background-color: rgb(255, 0, 0);
}